.accordeon {
    padding: 0 !important;
    background-color: $color_darkwhite;
    margin: 1em;
    border-radius: 16px;
    overflow: hidden;
    border-left: 24px solid $color_mediumgrey;
    padding: 30px !important;
    transition: all .6s ease-in-out;

    &__header {
        // color: $color_white;
        // background-color: $color_mediumgrey;
        transition: all .6s ease-in-out;
        cursor: pointer;
        position: relative;

        &::after {
            --height: 40px;
            content: '';
            background: url(../images/icons__small.svg);
            width: var(--height);
            height: var(--height);
            background-repeat: no-repeat;
            background-size: cover;
            background-position-x: 86.2%;
            position: absolute;
            right: 0;
            top: -7px;
            transform: rotate(0);
            transition: all .5s ease-in-out;
        }
    }

    &__list {
        max-height: 0;
        overflow: hidden;
        opacity: 0;
        transition: all .6s ease-in-out;
    }

    &--open {
        border-left: 24px solid $color_red;

        .accordeon__list {
            max-height: 500px;
            opacity: 1;
        }

        .accordeon__header {
            // background-color: $color_red;

            &::after {
                transform: rotate(90deg);
            }
        }
    }
}

.document__list {
    padding-left: 0;
    // display: table;
    border-collapse: separate;
    width: fit-content;

    li {
        display: flex;
        width: 100%;
        justify-content: left;

        &::before {
            display: none !important;
        }

        a {
            display: inline-block;
            align-self: flex-end;
        
            &:first-child {
                margin-left: auto;
            }

            &:hover::before {
                transform: scale(1.1);
            }
    
            &::before {
                --height: 40px;
                content: "";
                transform: scale(1, 1);
                position: relative;
                border: none;
                background-image: url(../images/icons__small.svg);
                background-repeat: no-repeat;
                background-size: cover;
                width: var(--height);
                height: var(--height);
                display: inline-block;
                margin-left: 8px;
            }
    
            &[href$=".xls"], &[href$=".pdf"], &[href$=".doc"] {
                border: none;
                font-size: 0;
                margin-top: -6px;
                line-height: 0;
            }
    
            &[href$=".xls"]::before {
                background-position-x: 26.4%;
            }
    
            &[href$=".pdf"]::before {
                background-position-x: 31.7%;
            }

            &[href$=".doc"]::before, &[href$=".docx"]::before {
                background-position-x: 36.6%;
            }
        }
    }
}