figure {
    // position: relative;
    display: none;
    // height: 480px;
    align-items: center;
    // overflow: hidden;
    // margin: 2em 0;
    object-fit: contain;

    &.figure--right img {
        // left: 0;
        // transform: translateX(16.6%);
    }

    &.figure--left img {
        // right: 0;
        // width: 120%;
        transform: translateX(-16.6%);
    }

    @include mq(large) {
        display: block;
    }

    img {
        // position: absolute;
        width: 120%;
        // top: 0;
        height: auto;
        // width: calc(100% + 37px);
        // max-width: 600px;
        // height: 350px;
    }
}