figure {
    --transform-value: 1.15;
    position: relative;
    display: none;
    // height: 480px;
    align-items: center;
    // overflow: hidden;
    // margin: 2em 0;
    object-fit: contain;

    &.figure--bleed {
        margin-bottom: 3em;
    }

    &.figure--right.figure--bleed img {
        transform: scale(var(--transform-value));
        transform-origin: top left;
    }

    &.figure--left.figure--bleed img {
        transform: scale(var(--transform-value));
        transform-origin: top right;
    }

    @include mq(large) {
        display: block;
    }

    img {
        position: relative;
        width: 100%;
        top: 0;
        height: auto;
        // width: calc(100% + 37px);
        // max-width: 600px;
        // height: 350px;
    }
}