.instructions {
    --gap: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap);
    justify-content: center;
    counter-reset: article-number;

    h1, h2, h3, h4, h5, h6 {
        flex-grow: 1;
        flex-basis: 100%;
    }

    article {
        // max-width: 15em;
        counter-increment: article-number;

        &::before {
            --width: 1.6em;
            content: counter(article-number);
            display: inline-block;
            width: var(--width);
            height: var(--width);
            text-align: center;
            padding-top: 0.22em;
            color: $color_red;
            font-size: 24px;
            border: 1px solid $color_blue;
            border-radius: .4em;
            font-weight: 500;
        }

        @include mq(small) {
            flex: 0 0 100%;
        }

        @include mq(medium) {
            flex: 0 0 calc(50% - var(--gap));
        }

        @include mq(large) {
            flex: 0 0 calc(25% - var(--gap));
        }
    }
}