.jGrowl {
    .jGrowl-notification {
        // display: flex;
        // flex-direction: row;
        // align-items: center;
        // justify-content: space-between;
        position: relative;
    }

    .jGrowl-header {
        display: none;
    }

    button {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-61%);
    }
}