@import 'variables';
@import 'gridsystem';
@import 'typography';
@import 'nav';
@import 'footer';
@import 'tables';
@import 'factoids';
@import 'layout';
@import 'figures';
@import 'listicons';
@import 'documentlist';
@import 'instructions';
@import 'forms';
@import 'news';
@import 'calculator';
@import 'animation';
@import 'pageoptions';
@import 'modal';
@import 'jgrowl';

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,500;0,700;1,300&display=swap');

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
}

a {
  text-decoration: none;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-size: $base_font_size;
}

body {
  display: grid;
  justify-content: center;
  justify-items: stretch;
  grid-template-rows: 1fr auto;
  grid-template-columns: 100%;
  color: $color_blue;
  font-family: 'Ubuntu', sans-serif;
  overflow-x: hidden;

  &.dark_ellipse {
    background-image: url(../images/dark_ellipse.svg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: -80% center;
  }
}

.container {
  max-width: 1140px;
  width: 100%;
  padding: 0 24px;
  margin: 0 auto;
}

.content {
  padding-bottom: 1em;
}

.align_right {
  text-align: right;
}

.align_center {
  text-align: center;
}

.expedition_option {
  display: block;
  font-size: .9em;
}


